

html {
    width: 800px;
    margin: 0 auto; /* Set left and right margins to "auto" */
    margin-top: 16px;
    margin-bottom: 16px;
  
  border:1px solid #bdbdbd;
    padding:16px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 16px; 
  }
  
  header {
    background-color: #14bfea;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 32px;
    padding: 16px;
    text-align: left;
  
  }
  
  
  h2{
  
    background-color:#d6d6d6;
    padding:2px;
  }
  
  
  .summary {
  background-color: #f0f0ff;
    border-radius: 8px;
  padding:16px;
    
  
  }
  
  
  footer {
    background-color: #14bfea;
    
    text-align: center;
  
  }
  